<div class=container>
  <h1>Test</h1>
</div>

<ul>
  <li><strong>Length of Mirage Generated List:</strong> {{model.product.data.length}}</li>
  <li><strong>Working on Looping</strong></li>
  <ul>
    {{#each model as products}}
      <li>{{model.product.data.attributes.contact}}</li>
    {{/each}}
  </ul>
  <li><strong>Name of Second Entry from Mirage List:</strong> {{model.product2.data.attributes.name}}</li>
  <li><strong>Name of Second Contact Using Faker:</strong> {{model.product2.data.attributes.contact}}</li>
</ul>
