<div class="container">
    <div class="row centered mt mb">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>Component Library</h1>
        <hr>
        <ul>
        </ul>
      </div>
    </div>
  </div>
