
<html lang="en" class="no-js">
	<head>
		<script src="js/modernizr.custom.js"></script>
	</head>
	<div class="container">
    <div class="breadcrumbs">
		</div>
  </div>
			<header align="center" class="clearfix">
				<nav>
					<a href="#" class="icon-arrow-left" data-info="Previous">Previous</a>
					<a href="#" class="icon-drop" data-info="See All">See All</a>
				</nav>
			</header> <!--End Header -->
			<ul class="tl-menu">
				<li><a href="#" class="icon-logo">Logo</a></li>
				<li><a href="#" class="icon-tag" id="navItem1">Option 1</a></li>
				<li><a href="#" class="icon-chart" id="navItem2">Option 2</a></li>
				<li><a href="#" class="entypo-camera" id="navItem3">Option 3</a></li>
				<li class="tl-current">
          <a href="#" class="icon-download" id="navItem4">Active</a></li>
				<li><a href="#" class="icon-flag" id="navItem5">Option 4</a></li>
				<li><a href="#" class="icon-lamp" id="navItem6">Option 5</a></li>
				<li><a href="#" class="icon-file" id="navItem7">Option 6</a></li>
			</ul>
			<div class="main">
				<h2>Headline</h2>

        <div class="tabs">
          <input type="radio" name="tabs" id="styles" checked />
          <input type="radio" name="tabs" id="typography" />
          <label for="styles">Styles</label>
          <label for="typography"><span class="entypo-camera">      </span>Typography</label>
        </div>  <!--End Tabs -->

        {{outlet}}
        <div class="btn_container">
          <a href="#" class="btn blue">Button</a>
        </div> <!--End Btn Containter -->
         <div class="btn_container">
            <a href="#" class="btn outline">Button</a>
          </div> <!--End Btn Containter -->
                <div class="btn_container">
          <a href="#" class="btn blue2">Button</a>
        </div> <!--End Btn Containter -->
			</div> <!--End Main -->
<!--Slider Nav 1-->
      <div>
       <nav class="slider-menu slider-menu-vertical slider-menu-left" id="slider-menu-s1">
			    <h3>MENU</h3>
         <a href="#"><span class="icon-flag"></span>Item 1</a>
         <a href="#"><span class="icon-flag"></span>Item 2</a>
			    <a href="#"><span class="icon-flag"></span>Item 3</a>
			    <a href="#"><span class="icon-flag"></span>Item 4</a>
			    <a href="#"><span class="icon-flag"></span>Item 5</a>
          <a href="#"><span class="icon-flag"></span>Item 6</a>
          <a href="#"><span class="icon-flag"></span>Item 7</a>
		    </nav>
		    </div> <!--End Containter -->



    		<!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->

        		<!-- Add id=navItem# to nav and add a seperate function below to match the id. Each nav item must have a unique id navItem1#. -->
		<script src="js/classie.js"></script>
		<script>
			var menuLeft = document.getElementById( 'slider-menu-s1' ),
				showLeft = document.getElementById( 'showLeft' ),
				body = document.body;

			navItem1.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( menuLeft, 'slider-menu-open' );
				disableOther( 'navItem1' );
			};

			navItem2.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( menuLeft, 'slider-menu-open' );
				disableOther( 'navItem2' );
			};

      navItem3.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( menuLeft, 'slider-menu-open' );
				disableOther( 'navItem3' );
			};

      navItem4.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( menuLeft, 'slider-menu-open' );
				disableOther( 'navItem4' );
			};

			navItem5.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( menuLeft, 'slider-menu-open' );
				disableOther( 'navItem5' );
			};

      navItem6.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( menuLeft, 'slider-menu-open' );
				disableOther( 'navItem6' );
			};

      navItem7.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( menuLeft, 'slider-menu-open' );
				disableOther( 'navItem7' );
			};

			function disableOther( button ) {
				if( button !== 'showLeft' ) {
					classie.toggle( showLeft, 'disabled' );
				}
			}
		</script>
</html>



<!--
<div class="area"></div><nav class="main-menu">
  <ul>
    <li>
      <a href="#">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          Dashboard
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-laptop fa-2x"></i>
        <span class="nav-text">
          UI Components
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-list fa-2x"></i>
        <span class="nav-text">
          Forms
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-folder-open fa-2x"></i>
        <span class="nav-text">
          Pages
        </span>
      </a>

    </li>
    <li>
      <a href="#">
        <i class="fa fa-bar-chart-o fa-2x"></i>
        <span class="nav-text">
          Graphs and Statistics
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-font fa-2x"></i>
        <span class="nav-text">
          Typography and Icons
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-table fa-2x"></i>
        <span class="nav-text">
          Tables
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-map-marker fa-2x"></i>
        <span class="nav-text">
          Maps
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-info fa-2x"></i>
        <span class="nav-text">
          Documentation
        </span>
      </a>
    </li>
  </ul>

  <ul class="logout">
    <li>
      <a href="#">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
          Logout
        </span>
      </a>
    </li>
  </ul>
</nav> -->
