<div class="container">
    <div class="row">
        <!-- Card Projects -->
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
              <span class="card-title"><h2>Description</h2></span>
              <hr>
              <div class="card-content">
                {{yield}}
              </div>
            </div>
        </div>
    </div>
</div>


<!--IF WANT TO ADD IMAGE AFTER IN DESCRIPTION  -->
<!-- <div class="card-image">
<img class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TDlCYzRROE84YWM/materialdesign_introduction.png">
<span class="card-title">Material Cards</span>
</div> -->
<!-- <a href="#" target="new_blank">Link</a> -->
