
 {{product-card click=(action 'onclick') product=model}}
 <br>
 {{#component-documentation}}
 <p>Product-Card for display in Library material.
   This is where detailed description of Component.
   will go.</p>
 <p>If we decide on an image it will its commented out
   below.</p>
   <br>
   <ul>
   <h3>Actions:</h3>
   <h3>Fileds:</h3>
   <h3>Required Fields:</h3>
   <h3>Optional Parmeters:</h3>
 </ul>

 {{/component-documentation}}
