
 {{product-card click=(action 'onclick') product=model}}
 <br>
 {{#product-documentation}}
  
 <!-- <p>Product-Card for display in Library material.
   This is where detailed description of Component.
   will go.</p>
 <p>If we decide on an image it will its commented out
   below.</p> -->
 {{/product-documentation}}
